<% title "Problems" %>

<h2><%= yield(:title) %></h2><br/>

<div class="problem_create_link">

</div>




    <script src="js/jquery/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
    });
    </script>
    <table class="zebra-striped">
	<tr>
		<td> # </td>
		<td> Problem </td>
	</tr>
    
  	  <% @problems.each do |p| %>
		<tr>
		<td> <%= p.id %> </td>
		<td> <%= link_to p.problem_title, p %> </td>

		 </tr>
	<% end %>
    </table>
