Welcome to show.html.erb

<div class="problem_title">
<%= @problem.problem_title %>
</div>

<div class="problem_statement">
<%= @problem.problem_statement %>
</div>

<div class="problem_time_limit">
<%= @problem.time_limit %>
</div>


<div class="problem_submission_box">
</div>
